{% extends 'base.html' %}

{% block title%}
    Home  | P111 
{% endblock %}

{% block body %}
<main class="container w-20 d-flex">

    <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
    <div class="mb-3 my-5">
        <label for="roll_no" class="form-label">Enter Your Id Number</label>
        <input type="text" class="form-control" name="roll_no" id="roll_no">
    </div>
    <div class="mb-3">
        <input type="submit" value="See Result" class="btn btn-success"/>
    </div>
    </form>
</main>
{% endblock %}