body{
  background: url(/static/imgs/backround.jpg) fixed ;
  mask-image: rgba(0, 0, 0, 0.658) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  image-resolution:initial;
}

